body
{
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
}

canvas
{
    border: solid white;
    border-width: 2px;
}

.divContainer
{
    align-items: center;    
    display: flex;
}   

.displayMap
{
    border: 1px solid blue;
    width: 70%;
}

.entry
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid red;
    width: 30%;
    align-items: center;
    justify-content: center;
}